# SPDX-License-Identifier: LGPL-2.1-or-later
# Copyright © 2019 ANSSI. All rights reserved.

[Unit]
Description=Setup nftables-based firewall
Documentation=man:nft(8) https://wiki.nftables.org
Wants=network-pre.target
Before=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
StandardInput=null
ProtectSystem=full
ProtectHome=true

ExecStart=/sbin/nft -f /mnt/state/core/etc/nftables/rules.nft

[Install]
WantedBy=multi-user.target
