[Unit]
Description=The nginx HTTP and reverse proxy server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking

PIDFile=/run/nginx/nginx.pid

ExecStartPre=/usr/sbin/nginx -g 'pid /run/nginx/nginx.pid; error_log stderr;' -t
ExecStart=/usr/sbin/nginx -g 'pid /run/nginx/nginx.pid; error_log stderr;'
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -QUIT $MAINPID

User=nginx
Group=nginx

NoNewPrivileges=yes
MemoryDenyWriteExecute=yes

PrivateTmp=yes
PrivateDevices=yes

ProtectSystem=strict
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
ReadWritePaths=/var/lib/nginx /run/nginx/

RestrictNamespaces=yes

SystemCallArchitectures=native
; Available only on v239+
; SystemCallFilter=@system-service
SystemCallFilter=~@clock @cpu-emulation @debug @keyring @module @mount @obsolete @privileged @raw-io
SystemCallErrorNumber=EPERM
RestrictAddressFamilies=AF_UNIX AF_INET

CapabilityBoundingSet=
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
